*/
*.toml
*.exe
*.csv
*.xlsx
*.txt
*.bin
*.zip
*.rar
*.md
*.cmd
*.jpg

*.py

!aiotieba
!aiotieba/**
!aiotieba_full_example.toml
!.github
!.github/**
!docs
!docs/**
!examples
!examples/**
!tests
!tests/**

!README.md
!requirements.txt
!pyproject.toml

!antispam
!antispam/**

!scripts
!scripts/**
!cyuyan_reviewer.py

*.pyproj
*.log
*.code-workspace
*.pyc
__pycache__
