*

!.clang-format
!.gitattributes
!.gitignore
!LICENSE
!mkdocs.yml
!pyproject.toml
!README.md
!setup.py

!.github
!.github/**
!aiotieba
!aiotieba/**
!aiotieba_full_example.toml
!docs
!docs/**
!tests
!tests/**

!README.md
!requirements.txt
!pyproject.toml

!antispam
!antispam/**

!scripts
!scripts/**
!cyuyan_reviewer.py

*.pyproj
*.log
*.code-workspace
*.py[cd]
__pycache__
